# --- .gitignore

# --- Exclude personal working files, environment variable files, and other private stuff we don't want to version

personal/
deprecated/

# --- Exclude vendor repositories

legacylogin/vendor/**/.git

# --- Exclude workflow cruft

/.idea/*
.*~

# --- Include .gitignore directives

!.gitignore
!*/.gitignore